.place__title {
  width: 100%;
  min-height: min-content;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 106%;
  /* or 76px */
  color: #FFFFFF;
  margin: 0 auto;
  align-self: end;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 2.625rem;
    line-height: 46px;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    margin: 0;
    padding-left: 1rem;
    width: 90%;
    font-size: 2rem;
    line-height: 35px;
  }
}