.places {
  width: 76.875%;
  min-height: auto;
  margin: 0 auto;
  padding-bottom: .75rem;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .places {
    width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .places {
    width: calc(100% - 3rem);
    padding-bottom: .625rem;
  }
}

@media screen and (max-width: 425px) {
  .places {
    width: 100%;
  }
}