.place {
  width: 984px;
  min-height: 584px;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: auto auto;
  column-gap: 40px;
  padding-bottom: 80px;
}

.place:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    width: 928px;
    min-height: 564px;
    grid-template-columns: 440px 456px;
    grid-template-rows: auto auto;
    column-gap: 32px;
  }
} 
