.intro__list {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .intro__list {
    width: 93.75%;
  }
}

@media screen and (max-width: 320px) {
  .intro__list {
    width: 100%;
  }
}