.lead {
  width: 76.875%;
  padding-bottom: 5.75rem;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 90.625%;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
    padding-bottom: 89px;
  }
}

@media screen and (max-width: 710px) {
  .lead {
    width: 100%;
    padding-bottom: 4rem;
  }
}