.header__logo {
  width: 14.864%;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  /*нет изменений*/
}


@media screen and (max-width: 768px) {
  .header__logo {
    left: 24px;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    top: 16px;
    left: 16px;
    width: 124px;
    height: 42px;
  }
}