.header__logo {
  width:fit-content;
  object-fit: contain;
  top: 1.75rem;
  left: 3rem;
}

@media screen and (max-width: 1024px) {
  /*нет изменений*/
}


@media screen and (max-width: 768px) {
  .header__logo {
    left: 1.5rem;
  }
}
