.place__website_link {
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375;
  text-decoration-line: underline;
  color: #FFFFFF;
  display: block;
  margin-left: 0;
  padding-left: 0;
}

.place__website_link:hover {
  opacity: 0.8;
}