.place__title {
  width: 460px;
  min-height: 76px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  /* or 76px */
  color: #FFFFFF;
  margin: 0 auto;
  align-self: end;
  /*white-space: pre;*/
}

@media screen and (max-width: 1024px) {
  /*без изменений*/
}

@media screen and (max-width: 768px) {
  .place__title {
    width: 340px;
    min-height: 46px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    width: 288px;
    min-height: 35px;
    font-size: 32px;
    line-height: 35px;
  }
}