.footer__link {
  width: min-content;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 18px;
  color: white;
  text-decoration: none;
  padding-right: 1.125rem;
  display: block;
  box-sizing: border-box;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 710px) {
  .footer__link {
    width: 100%;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}