.footer__link {
  width: min-content;
  min-height: 1.5rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 18px;
  color: white;
  text-decoration: none;
  padding-right: 1.125rem;
  display: block;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  /*нет изменений*/
}

@media screen and (max-width: 768px) {
  /*нет изменений*/
}

@media screen and (max-width: 710px) {
  .footer__link {
    width: 100%;
    min-height: 1.5rem;
    font-weight: 400;
    font-size: 1,5rem;
    line-height: 1.5rem;
    color: white;
    padding-left:1rem; 
  }
}