.lead__title {
  min-width: 56.25%;
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  line-height: 6.25rem;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: 100%;
  }
}

@media screen and (max-width: 767.9px) {
  .lead__title {
    width: 90%;
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}