.footer__copyright {
width: min-content;
min-height: 16px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;
/* identical to box height, or 114% */
text-align: right;
color: #FFFFFF;
margin: 0px;
display: block;
justify-self: right;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: 928px;
    height: 962px;
    padding: 0 48px 92px 48px;
  }
}