.footer__copyright {
  width: fit-content;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1rem;
  text-align: right;
  color: #FFFFFF;
  margin: 0px;
  display: block;
  justify-self: right;
  box-sizing: border-box;
}

@media screen and (max-width: 710px) {
  .footer__copyright {
    line-height: .875rem;
    padding: 3rem 1rem 0 0;
  }
}