.intro {
  width: calc(100% - 2*148px);
  padding-left: 9.25rem;
  padding-bottom: 5.75rem;
  margin: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .intro {
    width: calc(100% - 2*48px);
    padding-left: 3rem;
    padding-bottom: 5.75rem;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: calc(100% - 3rem);
    padding-left: 1.5rem;
    padding-bottom: 5.5rem;
  }
}

@media screen and (max-width: 710px) {
  .intro {
    width: calc(100% - 2rem);
    padding: 0 0 4rem 0;
    margin: 0 auto;
  }
}