.intro {
  width: 53.9%;
  height: min-content;
  padding: 0 27.625rem 5.75rem 9.25rem;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 0 17.875rem 5.75rem 3rem;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 100%;
    padding: 0 0 5.5rem 0;
  }
}

@media screen and (max-width: 425px) {
  .intro {
    width: 90%;
    padding: 0 1rem 4rem 1rem;
  }
}