.intro {
  width: 53.9%;
  min-height: 26.81rem;
  padding: 0 27.625rem 5.75rem 9.25rem;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 0 17.875rem 5.75rem 3rem;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 93.75%;
    padding-bottom: 5.5rem;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    width: 90%;
    min-height: 47.125rem;
    padding: 0 1rem 4rem 1rem;

  }
}