.lead__subtitle {
  width: 65%;
  min-height: 4.5rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  /* or 120% */
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  padding: 2rem 0 4rem 0;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    padding: 2rem 0 3.5rem 0;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    width: 90%;
    min-height: 2.5rem;
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 1rem 0 2.5rem 0;
  }
}