.cover {
  width: 92.5%;
  margin: 0 auto;
  object-fit: cover;
  box-sizing: border-box;
  padding-top: 5.75rem;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    padding-top: 4.125rem;
  }
}