.cover__overlay {
  width: 1184px;
  height: 740px;
  left: 48px;
  top: 6001px;
  background: #2A2C2F;
  opacity: 0.3;
}

.cover__overlay:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    width: 1024px;
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
    width: 768px;
    height: 480px;
  }
}