.cover__background {
  max-width: 100%;
  min-height: 46.25rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  background-image: url("../../../images/cover-trains.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
}

.cover__background::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: .3;
  z-index: -1;
  display: block;
  transition: opacity 1s;
}

.cover__background:hover::before {
  opacity: .8;
}


@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 40rem;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 30rem;
  }
}

@media screen and (max-width: 425px) {
  .cover__background {
    min-height: 12.5rem;
  }
}