.lead__caption {
  width: 16.056%;
  min-height: .875rem;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: .625rem;
  line-height: 0.875rem;
  /* identical to box height, or 140% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
}


@media screen and (max-width: 768px) {
  .lead__caption {
    margin: .5rem 0 0 1.5rem;
  }
}
