.cover__title {
  width: 47.3%;
  font-style: normal;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 76px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .cover__title {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    width: 90%;
    font-size: 2rem;
    line-height: 35px;
    padding-bottom: 1rem;
  }
}