.place__website_link {
    width: 456px;
    min-height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    text-decoration-line: underline;
    color: #FFFFFF;
    display: block;
}
.place__website_link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
/*нет  изменений*/
}