.place {
  width: 100%;
  min-height: min-content;
  display: grid;
  grid-template-columns: 46.747% auto;
  grid-template-rows: auto max-content;
  column-gap: 2.5rem;
  row-gap: 3rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 47.414% auto;
    column-gap: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 47.222% auto;
    column-gap: 1.75rem;
    padding-bottom: 4.56rem;
  }
}

@media screen and (max-width: 425px) {
  .place {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    column-gap: 2rem;
    padding-bottom: 3.125rem;
  }
}