.place {
  width: 100%;
  display: grid;
  grid-template-columns: 46.747% auto;
  grid-template-rows: auto max-content;
  column-gap: 2.5rem;
  row-gap: 3rem;
  padding-bottom: 5rem;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 47.414% auto;
    column-gap: 2rem;
  }
}

@media screen and (max-width: 767.9px) {
  .place {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    row-gap: 2rem;
    padding-bottom: 3.12rem;
  }
}